In [1]:
import pandas as pd
import numpy as np

In [2]:
# Ruta del archivo CSV
file_path = '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/datamunging/consolidated_data.csv'

# Leer el archivo CSV en un DataFrame
df = pd.read_csv(file_path)

/var/folders/gk/kfm0w04x18d1tr94k7ml70yc0000gn/T/ipykernel_2087/1714267392.py:5: DtypeWarning: Columns (11,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [3]:
df.loc[:, [
    "supermarket",
    "marketplace",
    "pharmacy",
    "hospital",
    "clinic",
    "doctors",
    "health",
    "gym",
    "school",
    "college",
    "library",
    "station",
    "bus stop",
    "bicycle rent",
    "park",
    "garden",
    "playground",
    "sports centre",
    "mall",
    "clothes",
    "cinema",
    "theatre",
    "restaurant",
    "cafe",
    "bar",
    "museum",
    "monument",
    "memorial",
    "viewpoint",
    "post office",
    "police",
    "fire station",
    "townhall",
    "waste disposal",
    "landfill",
    "industrial"
]] = np.nan

In [4]:
df

,precio,sub_descr,href,ubicacion,habitaciones,banios,mt2,otros,latitude,longitude,...,monument,memorial,viewpoint,post office,police,fire station,townhall,waste disposal,landfill,industrial
0,1200.0,NaN,/alquilar/piso-zona_esperanza_de_triana41010-4...,Zona Esperanza de Triana (Distrito Triana. Sev...,3.0,1.0,69.0,¡Alquiler para estudiantes! Contrato mínimo de...,37.379340,-6.003559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,900.0,Piso en calle Ares,/alquilar/piso-bellavista_la_palmera_bellavist...,Bellavista (Distrito Bellavista-La Palmera. Se...,3.0,2.0,105.0,Magnífico piso en urbanización exclusiva: jard...,37.332449,-5.965829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000.0,NaN,/alquilar/chalet-oromana-45028203361_517213/,Oromana (Alcalá de Guadaíra),4.0,2.0,146.0,Fantástico chalet en alquiler de larga tempora...,37.320301,-5.856279,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,990.0,NaN,/alquilar/piso-zona_ronda_de_triana_cartuja410...,Zona Ronda de Triana-Cartuja (Distrito Triana....,2.0,1.0,80.0,¡Descubre tu nuevo hogar en el corazón de tria...,37.389190,-6.008260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000.0,NaN,/alquilar/piso-nervion_ciudad_jardin41005-4503...,Ciudad Jardín (Distrito Nervión. Sevilla Capital),3.0,1.0,60.0,Piso en alquiler de 70 m² en ciudad jardin sol...,37.380612,-5.961544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434730,620000.0,Piso en calle de Cochabamba,/comprar/piso-chamartin_hispanoamerica28016-37...,Hispanoamérica (Distrito Chamartín. Madrid Cap...,2.0,2.0,108.0,Vivienda de lujo reformada exterior con traste...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434731,1070000.0,"Piso en calle del Padre Damián, 5",/comprar/piso-chamartin_hispanoamerica28036-38...,Hispanoamérica (Distrito Chamartín. Madrid Cap...,4.0,4.0,200.0,Walter Haus tiene el placer de ofrecerle este ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434732,225000.0,Piso en Pinar del Rey,/comprar/piso-pinar_del_rey28033-39205965533_1...,Pinar del Rey (Distrito Hortaleza. Madrid Capi...,3.0,1.0,86.0,Agencia inmobiliaria de madrid zona parque san...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434733,375000.0,Piso en Pinar del Rey,/comprar/piso-pinar_del_rey28033-40080751969_1...,Pinar del Rey (Distrito Hortaleza. Madrid Capi...,3.0,2.0,113.0,Agencia inmobiliaria de madrid zona parque san...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434734,170000.0,Piso en Pinar del Rey,/comprar/piso-pinar_del_rey28033-39245702964_1...,Pinar del Rey (Distrito Hortaleza. Madrid Capi...,3.0,1.0,77.0,Agencia inmobiliaria de madrid zona parque san...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN