In [1]:
#Ruta a la carpeta que contiene los CSV's
RawData_rstate = '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM'

In [2]:
import os
import glob

# Obtener todos los archivos .csv en el directorio especificado
csv_files = glob.glob(os.path.join(RawData_rstate, '*.csv'))

# Imprimir la lista de archivos .csv
for file in csv_files:
    print(file)

/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_venta_Malaga_20240630.csv
/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_alquiler_Madrid_20240630.csv
/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_venta_Madrid_20240630.csv
/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_alquiler_madrid_20240630.csv
/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_venta_madrid_20240630.csv
/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_venta_vizcaya_bizkaia_20240630.csv

In [3]:
print(csv_files)

['/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_venta_Malaga_20240630.csv', '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_alquiler_Madrid_20240630.csv', '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_venta_Madrid_20240630.csv', '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_alquiler_madrid_20240630.csv', '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_venta_madrid_20240630.csv', '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_venta_vizcaya_bizkaia_20240630.csv']

In [4]:
import pandas as pd

# Diccionario para almacenar los dataframes con sus nombres de archivo
dataframes = {}

# Ejemplo de lista de archivos CSV
csv_files = [
    '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_venta_Malaga_20240630.csv',
    '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_alquiler_Madrid_20240630.csv',
    '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_trovit_data_venta_Madrid_20240630.csv',
    '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_alquiler_madrid_20240630.csv',
    '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_venta_madrid_20240630.csv',
    '/Users/diegogloriasalamanca/Library/Mobile Documents/com~apple~CloudDocs/Master Data Science/99 TFM/TFM Inmobiliario/data/RawDataTFM/downloaded_data_venta_vizcaya_bizkaia_20240630.csv'
]

# Iterar sobre cada archivo CSV y crear un dataframe
for file in csv_files:
    # Extraer el nombre del archivo sin la ruta y la extensión
    file_name = file.split('/')[-1].replace('.csv', '')
    try:
        # Leer el archivo CSV en un dataframe de pandas
        df = pd.read_csv(file, delimiter=';', on_bad_lines='skip')
        
        # Determinar valor para columna 'fuente_datos'
        if 'trovit' in file_name:
            df['fuente_datos'] = 'trovit'
        else:
            df['fuente_datos'] = 'pisos.com'
        
        # Determinar valor para columna 'alquiler_venta'
        if 'alquiler' in file_name:
            df['alquiler_venta'] = 'alquiler'
        else:
            df['alquiler_venta'] = 'venta'
        
        # Determinar valor para columna 'fecha_extract'
        # Extraer la parte de la fecha del nombre del archivo
        fecha_extract_str = file_name.split('_')[-1]  # Obtener '20240630', '20240630', etc.
        # Convertir a formato de fecha
        fecha_extract = pd.to_datetime(fecha_extract_str, format='%Y%m%d')
        df['fecha_extract'] = fecha_extract
        
        # Almacenar el dataframe en el diccionario
        dataframes[file_name] = df
        
    except pd.errors.ParserError as e:
        print(f"Error parsing {file}: {e}")

# Ejemplo de acceso a uno de los dataframes y visualización
# Suponiendo que deseas visualizar el dataframe para 'downloaded_trovit_data_venta_Malaga_20240630'
print("Ejemplo de acceso y visualización:")
print(dataframes['downloaded_trovit_data_venta_Malaga_20240630'].head())

Ejemplo de acceso y visualización:
       precio                                          sub_descr  \
0  2.997.500€  Atico de lujo de 252 m2 en venta Torre del Rio...
1  3.150.000€  Villa / Chalet de 513 m2 en venta en 29679 Ben...
2    770.000€  Piso de lujo de 149 m2 en venta en Casco antig...
3  4.500.000€  Piso de lujo de 137 m2 en venta en Puente Roma...
4  6.995.000€  Piso de lujo de 137 m2 en venta en Puente Roma...

                                                href  \
0  https://rd.clk.thribee.com/id.199191O1OC1h1k/o...
1  https://rd.clk.thribee.com/id.1q1I1e1S51S91j/o...
2  https://rd.clk.thribee.com/id.m_1yWq21o14/orig...
3  https://rd.clk.thribee.com/id.U1M1Nt1JXu_/orig...
4  https://rd.clk.thribee.com/id.Im1M1X1gc41k/ori...

                       ubicacion      habitaciones    banios      mt2  \
0            Provincia de Málaga                 -  3  baños  252  m²
1     29002, Provincia de Málaga  16  habitaciones  5  baños  513  m²
2  Marbella, Provincia de Málaga                 -  2  baños  149  m²
3  Marbella, Provincia de Málaga   8  habitaciones  3  baños  137  m²
4  Marbella, Provincia de Málaga                 -  3  baños  137  m²

                                               otros publicado_hace  \
0  ...Residencial exclusivo situado en primera lí...  Hace +30 días
1  ...y zonas turísticas como San Pedro (8 km), P...  Hace +30 días
2  Último piso a la venta en un edificio en Casco...  Hace +30 días
3  Moderno piso de 3 dormitorios en Puente Romano...  Hace +30 días
4  BlueLife Realty presenta a la venta este lujos...  Hace +30 días

     plataforma    CCAA fuente_datos alquiler_venta fecha_extract
0  LuxuryEstate  Malaga       trovit          venta    2024-06-30
1  LuxuryEstate  Malaga       trovit          venta    2024-06-30
2  LuxuryEstate  Malaga       trovit          venta    2024-06-30
3  LuxuryEstate  Malaga       trovit          venta    2024-06-30
4  LuxuryEstate  Malaga       trovit          venta    2024-06-30

In [5]:
print(dataframes)

{'downloaded_trovit_data_venta_Malaga_20240630':            precio                                          sub_descr  \
0      2.997.500€  Atico de lujo de 252 m2 en venta Torre del Rio...
1      3.150.000€  Villa / Chalet de 513 m2 en venta en 29679 Ben...
2        770.000€  Piso de lujo de 149 m2 en venta en Casco antig...
3      4.500.000€  Piso de lujo de 137 m2 en venta en Puente Roma...
4      6.995.000€  Piso de lujo de 137 m2 en venta en Puente Roma...
...           ...                                                ...
1420   2.150.000€  Vivienda de lujo de 160 m2 en venta Marbella, ...
1421   3.495.000€  Villa / Chalet de lujo 746 m2 en venta, Marbel...
1422   6.400.000€  Villa / Chalet de lujo de 641 m2 en venta en M...
1423  12.250.000€  Villa / Chalet de 1229 m2 en venta en Marbella...
1424   1.200.000€  Atico de alto standing de 233 m2 en venta Bena...

                                                   href  \
0     https://rd.clk.thribee.com/id.199191O1OC1h1k/o...
1     https://rd.clk.thribee.com/id.1q1I1e1S51S91j/o...
2     https://rd.clk.thribee.com/id.m_1yWq21o14/orig...
3     https://rd.clk.thribee.com/id.U1M1Nt1JXu_/orig...
4     https://rd.clk.thribee.com/id.Im1M1X1gc41k/ori...
...                                                 ...
1420  https://rd.clk.thribee.com/id.R1k1v1J1q1f1mE/o...
1421  https://rd.clk.thribee.com/id.1t1fA6sQ81u/orig...
1422  https://rd.clk.thribee.com/id.x1RV1C1r1e1eV/or...
1423  https://rd.clk.thribee.com/id.e1R1E19s1P1rr/or...
1424  https://rd.clk.thribee.com/id.191-4p1Q0Jq/orig...

                                    ubicacion      habitaciones    banios  \
0                         Provincia de Málaga                 -  3  baños
1                  29002, Provincia de Málaga  16  habitaciones  5  baños
2               Marbella, Provincia de Málaga                 -  2  baños
3               Marbella, Provincia de Málaga   8  habitaciones  3  baños
4               Marbella, Provincia de Málaga                 -  3  baños
...                                       ...               ...       ...
1420            Marbella, Provincia de Málaga   4  habitaciones  2  baños
1421            Marbella, Provincia de Málaga                 -  5  baños
1422            Marbella, Provincia de Málaga  11  habitaciones  6  baños
1423            Marbella, Provincia de Málaga                 -  6  baños
1424  29640, Benalmádena, Provincia de Málaga   2  habitaciones  2  baños

            mt2                                              otros  \
0       252  m²  ...Residencial exclusivo situado en primera lí...
1       513  m²  ...y zonas turísticas como San Pedro (8 km), P...
2       149  m²  Último piso a la venta en un edificio en Casco...
3       137  m²  Moderno piso de 3 dormitorios en Puente Romano...
4       137  m²  BlueLife Realty presenta a la venta este lujos...
...         ...                                                ...
1420    160  m²  ...tiendas y playas. El campo de golf más cerc...
1421    746  m²  ...en una de las mejores y más lujosas urbaniz...
1422    641  m²  ...comodidades, tiendas, restaurantes. Está a ...
1423  1.229  m²  ...a la sala de estar, comedor de planta abier...
1424    233  m²  ...Sol, que alberga el hotel Higuerón de cinco...

     publicado_hace    plataforma    CCAA fuente_datos alquiler_venta  \
0     Hace +30 días  LuxuryEstate  Malaga       trovit          venta
1     Hace +30 días  LuxuryEstate  Malaga       trovit          venta
2     Hace +30 días  LuxuryEstate  Malaga       trovit          venta
3     Hace +30 días  LuxuryEstate  Malaga       trovit          venta
4     Hace +30 días  LuxuryEstate  Malaga       trovit          venta
...             ...           ...     ...          ...            ...
1420   Hace 29 días  LuxuryEstate  Malaga       trovit          venta
1421  Hace +30 días  LuxuryEstate  Malaga       trovit          venta
1422   Hace 29 días  LuxuryEstate  Malaga       trovit          venta
1423  Hace +30 días  LuxuryEstate  Malaga       trovit          venta
1424  Hace +30 días  LuxuryEstate  Malaga       trovit          venta

     fecha_extract
0       2024-06-30
1       2024-06-30
2       2024-06-30
3       2024-06-30
4       2024-06-30
...            ...
1420    2024-06-30
1421    2024-06-30
1422    2024-06-30
1423    2024-06-30
1424    2024-06-30

[1425 rows x 14 columns], 'downloaded_trovit_data_alquiler_Madrid_20240630':       precio                                          sub_descr  \
0     6.500€  Piso de alto standing de 202 m2 en alquiler en...
1     5.250€  Piso de alto standing de 230 m2 en alquiler en...
2    10.000€  Piso exclusivo de 267 m2 en alquiler en Madrid...
3    11.000€  Piso de alto standing en alquiler en Madrid, C...
4     3.800€  Piso de lujo de 140 m2 en alquiler en Madrid, ...
..       ...                                                ...
695   4.327€               2 dormitorio, Madrid 28009 1ES74067-
696   1.900€                             Madrid 28001 1ES71266-
697   3.297€               1 dormitorio, Madrid 28001 1ES73949-
698   2.470€               1 dormitorio, Madrid 28004 1ES67243-
699   2.200€               4 dormitorio, Madrid 28029 1ES44507-

                                                  href  \
0    https://rd.clk.thribee.com/id.1Eh1jy1xWBd/orig...
1    https://rd.clk.thribee.com/id.131m1B_Bp7f/orig...
2    https://rd.clk.thribee.com/id.1A1r1R1r1q1u1-D/...
3    https://rd.clk.thribee.com/id.1UQ1Y1a1B1d1J_/o...
4    https://rd.clk.thribee.com/id.K1_X1o1X91Hf/ori...
..                                                 ...
695  https://rd.clk.thribee.com/id.n-1g821M51a/orig...
696  https://rd.clk.thribee.com/id.n101K151T712X/or...
697  https://rd.clk.thribee.com/id.n1g16T1oZYo/orig...
698  https://rd.clk.thribee.com/id.nzN1KgY111Y/orig...
699  https://rd.clk.thribee.com/id.o10X1xj1ftq/orig...

                      ubicacion     habitaciones    banios      mt2  \
0           Comunidad de Madrid                -  3  baños  202  m²
1           Comunidad de Madrid                -  4  baños  230  m²
2           Comunidad de Madrid  4  habitaciones  5  baños  267  m²
3           Comunidad de Madrid                -  3  baños  240  m²
4           Comunidad de Madrid                -  2  baños  140  m²
..                          ...              ...       ...      ...
695  28009, Comunidad de Madrid  2  habitaciones         -        -
696  28001, Comunidad de Madrid                -  1  baños        -
697  28001, Comunidad de Madrid  1  habitaciones         -        -
698  28004, Comunidad de Madrid  1  habitaciones  1  baños        -
699  28029, Comunidad de Madrid  4  habitaciones  2  baños        -

                                                 otros publicado_hace  \
0    Barnes Madrid presenta este exclusivo apartame...     Hace 1 día
1    Barnes Madrid Presenta: Exclusivo Piso Reforma...   Hace 14 días
2    ...Madrid. Contamos con tres oficinas de atenc...  Hace +30 días
3    Barnes Madrid presenta este espectacular apart...   Hace 25 días
4    BARNES Madrid presenta este espectacular piso ...   Hace 23 días
..                                                 ...            ...
695  ...Esta casa se encuentra en Madrid Madrid 280...    Hace 6 días
696  ...casa se encuentra en Madrid Madrid 28001. T...    Hace 6 días
697  ...Esta casa se encuentra en Madrid Madrid 280...    Hace 6 días
698  ...casa se encuentra en Madrid Madrid 28004. T...    Hace 6 días
699  ...se encuentra en Madrid Madrid 28029. Tiene ...  Hace +30 días

       plataforma    CCAA fuente_datos alquiler_venta fecha_extract
0    LuxuryEstate  Madrid       trovit       alquiler    2024-06-30
1    LuxuryEstate  Madrid       trovit       alquiler    2024-06-30
2    LuxuryEstate  Madrid       trovit       alquiler    2024-06-30
3    LuxuryEstate  Madrid       trovit       alquiler    2024-06-30
4    LuxuryEstate  Madrid       trovit       alquiler    2024-06-30
..            ...     ...          ...            ...           ...
695      Listanza  Madrid       trovit       alquiler    2024-06-30
696      Listanza  Madrid       trovit       alquiler    2024-06-30
697      Listanza  Madrid       trovit       alquiler    2024-06-30
698      Listanza  Madrid       trovit       alquiler    2024-06-30
699      Listanza  Madrid       trovit       alquiler    2024-06-30

[700 rows x 14 columns], 'downloaded_trovit_data_venta_Madrid_20240630':          precio                                          sub_descr  \
0    1.495.000€  Piso de alto standing de 230 m2 en venta en Ma...
1      525.000€  Piso de alto standing de 78 m2 en venta en Mad...
2      640.000€  Piso de lujo en venta en Casco histórico de Ho...
3    1.480.000€  Piso de lujo en venta en Madrid, Comunidad de ...
4    2.500.000€  Piso de alto standing en venta en Madrid, Comu...
..          ...                                                ...
720  1.250.000€                               Piso en venta Madrid
721  3.195.000€                               Piso en venta Madrid
722  2.590.000€                              Villa en venta Madrid
723  3.000.000€                               Casa en venta Madrid
724  2.650.000€                          Penthouse en venta Madrid

                                                  href  \
0    https://rd.clk.thribee.com/id.19W1oV1Wf1VA/ori...
1    https://rd.clk.thribee.com/id.61i1F1CY1DHA/ori...
2    https://rd.clk.thribee.com/id.L_mCY6Z1f/origin...
3    https://rd.clk.thribee.com/id.b31yK1K1-81w/ori...
4    https://rd.clk.thribee.com/id.1zf1N1bv8V1F/ori...
..                                                 ...
720  https://rd.clk.thribee.com/id.1m1N1hIj1r1N1R/o...
721  https://rd.clk.thribee.com/id.v5D1tdi1B13/orig...
722  https://rd.clk.thribee.com/id.81K1J1v181W1m15/...
723  https://rd.clk.thribee.com/id.1-1nK1QD2l/origi...
724  https://rd.clk.thribee.com/id.1R1bx171_1i1bd/o...

                                             ubicacion     habitaciones  \
0                                  Comunidad de Madrid  4  habitaciones
1                                  Comunidad de Madrid  2  habitaciones
2               Hortaleza, Madrid, Comunidad de Madrid  3  habitaciones
3                                  Comunidad de Madrid  3  habitaciones
4                                  Comunidad de Madrid  3  habitaciones
..                                                 ...              ...
720  Castellana, Salamanca, Madrid, Comunidad de Ma...  2  habitaciones
721                                Comunidad de Madrid  6  habitaciones
722            Mirasierra, Madrid, Comunidad de Madrid  7  habitaciones
723  Recoletos, Salamanca, Madrid, Comunidad de Madrid  4  habitaciones
724      Justicia, Centro, Madrid, Comunidad de Madrid  3  habitaciones

       banios      mt2                                              otros  \
0    4  baños  230  m²  Ubicado en una de las zonas más prestigiosas d...
1           -   78  m²  BARNES MADRID presenta este Fantástico Piso co...
2    2  baños  115  m²  ...en primera línea del Parque forestal de Val...
3    3  baños  134  m²  Bienvenidos a una joya en el corazón de Madrid...
4    4  baños  255  m²  ¡Espectacular piso con 2 balcones y 1 mirador ...
..        ...      ...                                                ...
720  2  baños  132  m²  ...en las zonas premium de Madrid: Barrio de S...
721  4  baños  460  m²  ...en las zonas premium de Madrid: Barrio de S...
722  6  baños  753  m²  ...y calidad de construcción, que fue galardon...
723  5  baños  250  m²  ...de lujo en Madrid ubicada en el Barrio de S...
724  3  baños  160  m²  ...pisos en las zonas premium de Madrid: Barri...

    publicado_hace    plataforma    CCAA fuente_datos alquiler_venta  \
0    Hace +30 días  LuxuryEstate  Madrid       trovit          venta
1     Hace 25 días  LuxuryEstate  Madrid       trovit          venta
2      Hace 8 días  LuxuryEstate  Madrid       trovit          venta
3     Hace 25 días  LuxuryEstate  Madrid       trovit          venta
4     Hace 14 días  LuxuryEstate  Madrid       trovit          venta
..             ...           ...     ...          ...            ...
720  Hace +30 días     Globaliza  Madrid       trovit          venta
721  Hace +30 días     Globaliza  Madrid       trovit          venta
722  Hace +30 días     Globaliza  Madrid       trovit          venta
723  Hace +30 días     Globaliza  Madrid       trovit          venta
724  Hace +30 días     Globaliza  Madrid       trovit          venta

    fecha_extract
0      2024-06-30
1      2024-06-30
2      2024-06-30
3      2024-06-30
4      2024-06-30
..            ...
720    2024-06-30
721    2024-06-30
722    2024-06-30
723    2024-06-30
724    2024-06-30

[725 rows x 14 columns], 'downloaded_data_alquiler_madrid_20240630':           precio                               sub_descr  \
0    4.000 €/mes           Casa unifamiliar en calle XIX
1    1.147 €/mes         Estudio en calle de Pollensa, 5
2      900 €/mes                      Piso en Valdezarza
3    2.300 €/mes             Piso en calle de Ríos Rosas
4    1.200 €/mes  Piso en calle del General Díaz Porlier
..           ...                                     ...
385  3.100 €/mes                    Piso en calle Lagaca
386  2.700 €/mes                Piso en calle de Narváez
387  1.350 €/mes           Piso en calle del Pensamiento
388  2.400 €/mes         Piso en calle de Luisa Fernanda
389  1.750 €/mes                  Ático en Casco Antiguo

                                                  href  \
0    /alquilar/casa_unifamiliar-las_matas_los_penas...
1    /alquilar/estudio-parque_empresarial28290-4500...
2    /alquilar/piso-valdezarza28035-45021521231_101...
3    /alquilar/piso-rios_rosas28003-44191487174_104...
4         /alquilar/piso-goya28001-35048421119_100500/
..                                                 ...
385  /alquilar/piso-salamanca_castellana28001-38429...
386      /alquilar/piso-ibiza28009-42507794833_100500/
387  /alquilar/piso-castillejos28020-45050786052_10...
388  /alquilar/piso-moncloa_aravaca_arguelles28008-...
389  /alquilar/atico-galapagar_la_navata28260-40850...

                                             ubicacion habitaciones   banios  \
0       Las Matas-Los Peñascales (Las Rozas de Madrid)      6 habs.  7 baños
1             Parque Empresarial (Las Rozas de Madrid)          NaN   1 baño
2    Valdezarza (Distrito Moncloa-Aravaca. Madrid C...       1 hab.   1 baño
3       Ríos Rosas (Distrito Chamberí. Madrid Capital)      2 habs.      NaN
4            Goya (Distrito Salamanca. Madrid Capital)       1 hab.      NaN
..                                                 ...          ...      ...
385    Castellana (Distrito Salamanca. Madrid Capital)      2 habs.  2 baños
386            Ibiza (Distrito Retiro. Madrid Capital)      4 habs.  2 baños
387      Castillejos (Distrito Tetuán. Madrid Capital)       1 hab.      NaN
388  Argüelles (Distrito Moncloa-Aravaca. Madrid Ca...      3 habs.      NaN
389                              La Navata (Galapagar)      4 habs.  3 baños

        mt2                                              otros   latitude  \
0    600 m²  Inmobaralia te ofrece la oportunidad de alquil...  40.566082
1     50 m²  Apartamentos exclusivos con todos los servicio...  40.531600
2     50 m²  ¡Oportunidad! Directamente propiedad. Sin comi...  40.466741
3     97 m²  Maravilloso piso en alquiler, todo lo que nece...  40.441600
4     36 m²  Boher gestion inmobiliaria alquila : \nPiso ba...  40.427243
..      ...                                                ...        ...
385   62 m²  Diplomatic real estate ofrece piso con mobilia...  40.429363
386  140 m²  Se alquila vivienda en la calle narváez esquin...  40.419962
387   52 m²  Luminosa vivienda con plaza de garaje y traste...  40.459583
388  110 m²  Finca representativa / reformado / exterior / ...  40.425410
389  150 m²  Impecable y amplio ático, luminoso, con un eno...  40.586495

     longitude     planta    CCAA fuente_datos alquiler_venta fecha_extract
0    -3.897151        NaN  madrid    pisos.com       alquiler    2024-06-30
1    -3.890720        NaN  madrid    pisos.com       alquiler    2024-06-30
2    -3.722923  6ª planta  madrid    pisos.com       alquiler    2024-06-30
3    -3.696416        NaN  madrid    pisos.com       alquiler    2024-06-30
4    -3.676922       Bajo  madrid    pisos.com       alquiler    2024-06-30
..         ...        ...     ...          ...            ...           ...
385  -3.686776  5ª planta  madrid    pisos.com       alquiler    2024-06-30
386  -3.675921  3ª planta  madrid    pisos.com       alquiler    2024-06-30
387  -3.698964  3ª planta  madrid    pisos.com       alquiler    2024-06-30
388  -3.715220  4ª planta  madrid    pisos.com       alquiler    2024-06-30
389  -3.996406        NaN  madrid    pisos.com       alquiler    2024-06-30

[390 rows x 15 columns], 'downloaded_data_venta_madrid_20240630':         precio                                      sub_descr  \
0    320.000 €                 Piso en Avenida del Manzanares
1    349.000 €                     Piso en calle de San Roque
2    399.700 €         Piso en calle de la Virgen de Lluc, 49
3    859.287 €  Casa adosada en calle Cabo de Trafalgar,  s/n
4    679.500 €       Casa pareada en calle de las Guindaleras
..         ...                                            ...
801  158.000 €                  Piso en calle de la Papelería
802  204.900 €       Casa unifamiliar en Torres de la Alameda
803  269.900 €                 Piso en Avenida de los Rosales
804  155.000 €                              Piso en Ciudad 70
805  235.000 €               Piso en Carabanchel / San Isidro

                                                  href  \
0    /comprar/piso-carabanchel_san_isidro28019-4500...
1    /comprar/piso-majadahonda_casco_antiguo28220-4...
2    /comprar/piso-ciudad_lineal_quintana-407292298...
3    /comprar/casa_adosada-el_olivar_de_mirabal2866...
4    /comprar/casa_pareada-paracuellos_de_jarama_ce...
..                                                 ...
801  /comprar/piso-san_blas_amposta-43405387206_100...
802  /comprar/casa_unifamiliar-torres_de_la_alameda...
803    /comprar/piso-butarque28021-41711843619_108900/
804        /comprar/piso-ciudad_70-43376618588_100200/
805  /comprar/piso-carabanchel_san_isidro28019-4336...

                                             ubicacion habitaciones   banios  \
0    San Isidro (Distrito Carabanchel. Madrid Capital)      3 habs.   1 baño
1                          Casco Antiguo (Majadahonda)      3 habs.   1 baño
2    Quintana (Distrito Ciudad Lineal. Madrid Capital)      2 habs.  2 baños
3            El Olivar de Mirabal (Boadilla del Monte)      4 habs.  3 baños
4                                Paracuellos de Jarama      4 habs.  3 baños
..                                                 ...          ...      ...
801        Amposta (Distrito San Blas. Madrid Capital)      2 habs.   1 baño
802                               Torres de la Alameda      4 habs.  2 baños
803     Butarque (Distrito Villaverde. Madrid Capital)      4 habs.  2 baños
804                                Ciudad 70 (Coslada)      3 habs.   1 baño
805  San Isidro (Distrito Carabanchel. Madrid Capital)      3 habs.      NaN

        mt2     planta                                              otros  \
0     72 m²  6ª planta  La casa agency ofrece una fabulosa vivienda en...
1    110 m²  2ª planta  Urbanizacion novaserra - majadahonda - area ma...
2     82 m²  2ª planta  2º b. Piso en un inmueble de obra nueva de 82 ...
3    378 m²        NaN  Casa adosada de obra nueva, de 378 m² de super...
4    309 m²        NaN  !!! Ha llegado a su destino !!!!!\n+++++precio...
..      ...        ...                                                ...
801   55 m²  3ª planta  Vohome propiedades simancas/julián camarillo v...
802  137 m²        NaN  Agencia inmobiliaria de loeches zona torres de...
803  110 m²        NaN  Vivienda madrid oficina ciudad de los ángeles,...

In [6]:
import pandas as pd

# Suponiendo que `dataframes` es tu diccionario que contiene múltiples dataframes

# Convertir el diccionario de dataframes en una lista de dataframes
dfs = list(dataframes.values())

# Concatenar todos los dataframes en uno solo
consolidated_df = pd.concat(dfs, ignore_index=True)

# Mostrar el dataframe consolidado
print(consolidated_df.tail())

           precio                                sub_descr  \
4258  1.250.000 €                    Piso en Plaza Euskadi
4259    135.000 €          Casa en Barrio de San Cristóbal
4260    860.000 €             Piso en Avenida de Basagoiti
4261    285.000 €                        Piso en Lasesarre
4262    371.000 €  Piso en  Paraje Sur Isla de Zorrozaurre

                                                   href  \
4258  /comprar/piso-abandoibarra_guggenheim48001-442...
4259          /comprar/casa-ocharan-43349964457_999097/
4260  /comprar/piso-getxo_algorta48991-42526550718_1...
4261        /comprar/piso-lasesarre-44265195898_102200/
4262  /comprar/piso-doneperiaga_deustuibarra_san_ped...

                                              ubicacion habitaciones   banios  \
4258  Abandoibarra-Guggenheim (Distrito Abando. Bilbao)      3 habs.  2 baños
4259                                    Ocharán (Zalla)      3 habs.   1 baño
4260                                    Algorta (Getxo)      7 habs.  3 baños
4261                              Lasesarre (Barakaldo)      3 habs.   1 baño
4262  Doneperiaga-Deustuibarra San Pedro-La Ribera (...       1 hab.   1 baño

         mt2                                              otros  \
4258  155 m²  Este piso se encuentra en una zona privilegiad...
4259  298 m²  Se vende impresionante caserón en zalla, a tan...
4260  235 m²  Inmobiliaria quorum getxo comercializa en excl...
4261   90 m²  Espectacular vivienda de 90m² a 5 minutos de l...
4262   71 m²  Piso en una finca de obra nueva de 71 m² de su...

     publicado_hace plataforma             CCAA fuente_datos alquiler_venta  \
4258            NaN        NaN  vizcaya_bizkaia    pisos.com          venta
4259            NaN        NaN  vizcaya_bizkaia    pisos.com          venta
4260            NaN        NaN  vizcaya_bizkaia    pisos.com          venta
4261            NaN        NaN  vizcaya_bizkaia    pisos.com          venta
4262            NaN        NaN  vizcaya_bizkaia    pisos.com          venta

     fecha_extract      latitude    longitude     planta
4258    2024-06-30    43.2675672   -2.9417569  8ª planta
4259    2024-06-30  43.216858409  -3.12240918        NaN
4260    2024-06-30    43.3508268   -3.0119678  3ª planta
4261    2024-06-30     43.298977   -2.9854665  7ª planta
4262    2024-06-30    43.2664807   -2.9561158        NaN

In [7]:
consolidated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4263 entries, 0 to 4262
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   precio          4249 non-null   object
 1   sub_descr       4263 non-null   object
 2   href            4263 non-null   object
 3   ubicacion       4263 non-null   object
 4   habitaciones    4227 non-null   object
 5   banios          4062 non-null   object
 6   mt2             4254 non-null   object
 7   otros           4262 non-null   object
 8   publicado_hace  2850 non-null   object
 9   plataforma      2850 non-null   object
 10  CCAA            4263 non-null   object
 11  fuente_datos    4263 non-null   object
 12  alquiler_venta  4263 non-null   object
 13  fecha_extract   4263 non-null   datetime64[ns]
 14  latitude        1413 non-null   object
 15  longitude       1413 non-null   object
 16  planta          775 non-null    object
dtypes: datetime64[ns](1), object(16)
memory usage: 566.3+ KB

In [8]:
import re
def limpiar_precio(precio):
    # Manejar valores NaN y convertir a cadena si es necesario
    if pd.isna(precio):
        return None
    # Convertir a cadena
    precio = str(precio)
    # Eliminar cualquier texto que no sea un número, punto, coma o espacio
    precio = re.sub(r'[^\d.,€\s]', '', precio)
    # Eliminar el símbolo de euro y espacios en blanco
    precio = re.sub(r'[€\s]', '', precio)
    # Reemplazar los puntos (separadores de miles) por nada
    precio = precio.replace('.', '')
    # Reemplazar las comas (separadores decimales) por nada
    precio = precio.replace(',', '')
    # Convertir a entero, manejar excepciones si la conversión falla
    try:
        return int(precio)
    except ValueError:
        return None

# Aplicar la misma transformación al dataframe consolidado
columns_to_clean_consolidated = ['precio', 'habitaciones', 'banios', 'mt2', 'publicado_hace' ] # Asegúrate de ajustar según tus columnas reales
for column in columns_to_clean_consolidated:
    consolidated_df[column] = consolidated_df[column].apply(limpiar_precio)

In [9]:
# Convertir las columnas 'latitude' y 'longitude' a tipo float
consolidated_df['latitude'] = pd.to_numeric(consolidated_df['latitude'], errors='coerce')
consolidated_df['longitude'] = pd.to_numeric(consolidated_df['longitude'], errors='coerce')

# Verificar el resultado
print(consolidated_df[['latitude', 'longitude']].dtypes)
print(consolidated_df[['latitude', 'longitude']].head())

latitude     float64
longitude    float64
dtype: object
   latitude  longitude
0       NaN        NaN
1       NaN        NaN
2       NaN        NaN
3       NaN        NaN
4       NaN        NaN

In [10]:
consolidated_df.describe()

,precio,habitaciones,banios,mt2,publicado_hace,fecha_extract,latitude,longitude
count,4.241000e+03,3650.000000,3782.000000,3788.000000,2850.000000,4263,1380.000000,1380.000000
mean,7.489121e+05,3.034521,2.356425,175.006864,305.033333,2024-06-30 00:00:00,40.869020,-3.601269
min,1.800000e+02,1.000000,1.000000,20.000000,1.000000,2024-06-30 00:00:00,40.025531,-4.345999
25%,1.300000e+04,2.000000,1.000000,87.000000,15.250000,2024-06-30 00:00:00,40.405420,-3.730088
50%,3.529000e+05,3.000000,2.000000,125.000000,30.000000,2024-06-30 00:00:00,40.436487,-3.688085
75%,8.950000e+05,4.000000,3.000000,201.000000,1119.000000,2024-06-30 00:00:00,40.543844,-3.586823
max,1.700000e+07,18.000000,14.000000,2982.000000,2040.000000,2024-06-30 00:00:00,43.420427,-2.484832
std,1.198029e+06,1.504870,1.310703,185.317958,490.129362,NaN,1.031325,0.300956

In [11]:
consolidated_df

,precio,sub_descr,href,ubicacion,habitaciones,banios,mt2,otros,publicado_hace,plataforma,CCAA,fuente_datos,alquiler_venta,fecha_extract,latitude,longitude,planta
0,2997500.0,Atico de lujo de 252 m2 en venta Torre del Rio...,https://rd.clk.thribee.com/id.199191O1OC1h1k/o...,Provincia de Málaga,NaN,3.0,252.0,...Residencial exclusivo situado en primera lí...,30.0,LuxuryEstate,Malaga,trovit,venta,2024-06-30,NaN,NaN,NaN
1,3150000.0,Villa / Chalet de 513 m2 en venta en 29679 Ben...,https://rd.clk.thribee.com/id.1q1I1e1S51S91j/o...,"29002, Provincia de Málaga",16.0,5.0,513.0,"...y zonas turísticas como San Pedro (8 km), P...",30.0,LuxuryEstate,Malaga,trovit,venta,2024-06-30,NaN,NaN,NaN
2,770000.0,Piso de lujo de 149 m2 en venta en Casco antig...,https://rd.clk.thribee.com/id.m_1yWq21o14/orig...,"Marbella, Provincia de Málaga",NaN,2.0,149.0,Último piso a la venta en un edificio en Casco...,30.0,LuxuryEstate,Malaga,trovit,venta,2024-06-30,NaN,NaN,NaN
3,4500000.0,Piso de lujo de 137 m2 en venta en Puente Roma...,https://rd.clk.thribee.com/id.U1M1Nt1JXu_/orig...,"Marbella, Provincia de Málaga",8.0,3.0,137.0,Moderno piso de 3 dormitorios en Puente Romano...,30.0,LuxuryEstate,Malaga,trovit,venta,2024-06-30,NaN,NaN,NaN
4,6995000.0,Piso de lujo de 137 m2 en venta en Puente Roma...,https://rd.clk.thribee.com/id.Im1M1X1gc41k/ori...,"Marbella, Provincia de Málaga",NaN,3.0,137.0,BlueLife Realty presenta a la venta este lujos...,30.0,LuxuryEstate,Malaga,trovit,venta,2024-06-30,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,1250000.0,Piso en Plaza Euskadi,/comprar/piso-abandoibarra_guggenheim48001-442...,Abandoibarra-Guggenheim (Distrito Abando. Bilbao),3.0,2.0,155.0,Este piso se encuentra en una zona privilegiad...,NaN,NaN,vizcaya_bizkaia,pisos.com,venta,2024-06-30,43.267567,-2.941757,8ª planta
4259,135000.0,Casa en Barrio de San Cristóbal,/comprar/casa-ocharan-43349964457_999097/,Ocharán (Zalla),3.0,1.0,298.0,"Se vende impresionante caserón en zalla, a tan...",NaN,NaN,vizcaya_bizkaia,pisos.com,venta,2024-06-30,43.216858,-3.122409,NaN
4260,860000.0,Piso en Avenida de Basagoiti,/comprar/piso-getxo_algorta48991-42526550718_1...,Algorta (Getxo),7.0,3.0,235.0,Inmobiliaria quorum getxo comercializa en excl...,NaN,NaN,vizcaya_bizkaia,pisos.com,venta,2024-06-30,43.350827,-3.011968,3ª planta
4261,285000.0,Piso en Lasesarre,/comprar/piso-lasesarre-44265195898_102200/,Lasesarre (Barakaldo),3.0,1.0,90.0,Espectacular vivienda de 90m² a 5 minutos de l...,NaN,NaN,vizcaya_bizkaia,pisos.com,venta,2024-06-30,43.298977,-2.985466,7ª planta
4262,371000.0,Piso en Paraje Sur Isla de Zorrozaurre,/comprar/piso-doneperiaga_deustuibarra_san_ped...,Doneperiaga-Deustuibarra San Pedro-La Ribera (...,1.0,1.0,71.0,Piso en una finca de obra nueva de 71 m² de su...,NaN,NaN,vizcaya_bizkaia,pisos.com,venta,2024-06-30,43.266481,-2.956116,NaN

In [12]:
consolidated_df.to_csv('consolidated_data.csv', index=False)