In [1]:
# Importar pandas
import pandas as pd

# Definir las rutas de los archivos
file_path_csv1 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC1_S1.csv'
file_path_csv2 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC2_S1.csv'
file_path_txt = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/stops.txt'

# Leer los archivos CSV
df_csv1 = pd.read_csv(file_path_csv1)
df_csv2 = pd.read_csv(file_path_csv2)

# Leer el archivo TXT con el delimitador correcto
df_txt = pd.read_csv(file_path_txt, delimiter=',')

# Inspeccionar las primeras filas de cada dataset
print(df_csv1.head())
print(df_csv2.head())
print(df_txt.head())

   OBJECTID  OBJECTID_1 IDESTACION  FECHAACTUAL  MODO  CODIGOESTACION  \
0         1       12744       5_46     20170530     5              46
1         2       10869       5_51     20170530     5              51
2         3       12376       5_57     20170530     5              57
3         4       13438       5_61     20170530     5              61
4         5        9062       5_65     20170530     5              65

         DENOMINACION                                      OBSERVACIONES  \
0       MENDEZ ALVARO                                                NaN
1  NUEVOS MINISTERIOS  Personal de atención / taquillas: SI\r\nParkin...
2           PIRAMIDES                                                NaN
3        PRINCIPE PIO                                Con Vía Ferrocarril
4           RECOLETOS                                                NaN

  SITUACION  CODIGOCTMESTACIONREDMETRO  ...  FECHAALTA  FECHAINICIO  FECHAFIN  \
0         I                         46  ...   20030331     19860101       NaN
1         I                         51  ...   20030331     19860101       NaN
2         I                         57  ...   20030331     19860101       NaN
3         I                         61  ...   20030331     19860101       NaN
4         I                         65  ...   20030331     19860101       NaN

        X        Y  GRADOACCESIBILIDAD  SITUACIONCALLE  DENOMINACION_SAE  \
0  442564  4472070                   P             NaN               NaN
1  441398  4477767                   T             NaN               NaN
2  439748  4472893                   P             NaN               NaN
3  439007  4474950                   N             NaN               NaN
4  441504  4475190                   N             NaN               NaN

   INTERURBANOS_CODIGOEMT_CRTM INTERURBANOS_CODIGOEMT_EMPRESA
0                          NaN                            NaN
1                          NaN                            NaN
2                          NaN                            NaN
3                          NaN                            NaN
4                          NaN                            NaN

[5 rows x 53 columns]
   OBJECTID  OBJECTID_1 IDESTACION  FECHAACTUAL  MODO  CODIGOESTACION  \
0         1       12534       5_38     20170530     5              38
1         2        9861       5_45     20170530     5              45
2         3       10869       5_51     20170530     5              51
3         4       10860       5_59     20170530     5              59
4         5        9062       5_65     20170530     5              65

         DENOMINACION                                      OBSERVACIONES  \
0         GUADALAJARA                                     Estación RENFE
1                MECO                                                NaN
2  NUEVOS MINISTERIOS  Personal de atención / taquillas: SI\r\nParkin...
3            POZO, EL                                                NaN
4           RECOLETOS                                                NaN

  SITUACION  CODIGOCTMESTACIONREDMETRO  ...  FECHAALTA  FECHAINICIO  FECHAFIN  \
0         S                         38  ...   20030331     19860101       NaN
1         S                         45  ...   20030331     19860101       NaN
2         I                         51  ...   20030331     19860101       NaN
3         S                         59  ...   20030331     19860101       NaN
4         I                         65  ...   20030331     19860101       NaN

        X        Y  GRADOACCESIBILIDAD  SITUACIONCALLE  DENOMINACION_SAE  \
0  484688  4499472                   N             NaN               NaN
1  474816  4487348                   N             NaN               NaN
2  441398  4477767                   T             NaN               NaN
3  444402  4469894                   N             NaN               NaN
4  441504  4475190                   N             NaN               NaN

   INTERURBANOS_CODIGOEMT_CRTM INTERURBANOS_CODIGOEMT_EMPRESA
0                          NaN                            NaN
1                          NaN                            NaN
2                          NaN                            NaN
3                          NaN                            NaN
4                          NaN                            NaN

[5 rows x 53 columns]
        stop_id  stop_code                stop_name  \
0      par_10_1          1       PINAR DE CHAMARTIN
1  acc_10_1_721          1             Arturo Soria
2  acc_10_1_722          1                 Ascensor
3      par_10_2          2        FUENTE DE LA MORA
4  acc_10_2_723          2  Avda. Fuente de la Mora

                        stop_desc  stop_lat  stop_lon zone_id  \
0       Calle de Arturo Soria 330  40.48014  -3.66684       A
1       Calle de Arturo Soria 330  40.48023  -3.66684     NaN
2       Calle de Arturo Soria 330  40.48015  -3.66694     NaN
3        Calle de Dulce Chacón 15  40.48482  -3.66325       A
4  Cmno de la Fuente de la Mora 6  40.48561  -3.66318     NaN

             stop_url  location_type parent_station  stop_timezone  \
0  http://www.crtm.es              0            NaN  Europe/Madrid
1  http://www.crtm.es              2       est_10_1            NaN
2  http://www.crtm.es              2       est_10_1            NaN
3  http://www.crtm.es              0            NaN  Europe/Madrid
4  http://www.crtm.es              2       est_10_2            NaN

   wheelchair_boarding
0                    2
1                    0
2                    0
3                    2
4                    0

In [2]:
# Renombrar columna 'DENOMINACION' en los datasets de cercanías para que coincida con 'stop_name' en el dataset de paradas de metro
df_csv1.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)
df_csv2.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir los datasets CSV
df_cercanias = pd.concat([df_csv1, df_csv2], ignore_index=True)

# Unir el dataset de cercanías con el de paradas de metro
df_transporte_madrid = pd.merge(df_cercanias, df_txt, on='stop_name', how='outer')

In [3]:
# Verificar la unión
print(df_transporte_madrid.head())

   OBJECTID  OBJECTID_1 IDESTACION  FECHAACTUAL  MODO  CODIGOESTACION  \
0       8.0     14051.0      5_142   20170530.0   5.0           142.0
1      14.0     12671.0        5_2   20170530.0   5.0             2.0
2      16.0      9856.0        5_3   20170530.0   5.0             3.0
3       NaN         NaN        NaN          NaN   NaN             NaN
4       NaN         NaN        NaN          NaN   NaN             NaN

                       stop_name             OBSERVACIONES SITUACION  \
0                  AEROPUERTO T4                       NaN         I
1              ALCALÁ DE HENARES  Con Calle de Valdetorres         S
2  ALCALÁ DE HENARES UNIVERSIDAD              Pl Sector 20         S
3           ALVAREZ DE VILLAAMIL                       NaN       NaN
4           ALVAREZ DE VILLAAMIL                       NaN       NaN

   CODIGOCTMESTACIONREDMETRO  ...  stop_code                       stop_desc  \
0                      142.0  ...        NaN                             NaN
1                        2.0  ...        NaN                             NaN
2                        3.0  ...        NaN                             NaN
3                        NaN  ...        5.0  Calle del Príncipe Carlos 13 B
4                        NaN  ...        5.0  Calle del Príncipe Carlos 13 B

   stop_lat  stop_lon zone_id            stop_url  location_type  \
0       NaN       NaN     NaN                 NaN            NaN
1       NaN       NaN     NaN                 NaN            NaN
2       NaN       NaN     NaN                 NaN            NaN
3  40.48905  -3.65136       A  http://www.crtm.es            0.0
4  40.48905  -3.65136       A  http://www.crtm.es            1.0

   parent_station  stop_timezone wheelchair_boarding
0             NaN            NaN                 NaN
1             NaN            NaN                 NaN
2             NaN            NaN                 NaN
3             NaN  Europe/Madrid                 2.0
4             NaN  Europe/Madrid                 2.0

[5 rows x 64 columns]

In [4]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv3 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC3_S1.csv'
df_csv3 = pd.read_csv(file_path_csv3)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv3.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv3], ignore_index=True)

In [5]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv4 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC4a_S1.csv'
df_csv4 = pd.read_csv(file_path_csv4)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv4.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv4], ignore_index=True)

In [6]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv5 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC4b_S1.csv'
df_csv5 = pd.read_csv(file_path_csv5)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv5.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv5], ignore_index=True)

In [7]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv6 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC5_S1.csv'
df_csv6= pd.read_csv(file_path_csv6)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv6.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv6], ignore_index=True)

In [8]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv7 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC7a_S1.csv'
df_csv7= pd.read_csv(file_path_csv7)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv7.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv7], ignore_index=True)

In [9]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv8 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC7b_S1.csv'
df_csv8= pd.read_csv(file_path_csv8)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv8.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv8], ignore_index=True)

In [10]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv9 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC8_S1.csv'
df_csv9= pd.read_csv(file_path_csv9)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv9.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv9], ignore_index=True)

In [11]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv10 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC9_S1.csv'
df_csv10= pd.read_csv(file_path_csv10)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv10.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv10], ignore_index=True)

In [12]:
# Leer el nuevo archivo CSV proporcionado
file_path_csv11 = 'C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/Cercanias_Madrid_M5_LC10_S1.csv'
df_csv11= pd.read_csv(file_path_csv11)

# Renombrar la columna 'DENOMINACION' en el nuevo dataset para que coincida con 'stop_name'
df_csv11.rename(columns={'DENOMINACION': 'stop_name'}, inplace=True)

# Unir el nuevo dataset con el DataFrame existente df_transporte_madrid
df_transporte_madrid = pd.concat([df_transporte_madrid, df_csv11], ignore_index=True)

In [13]:
print(df_transporte_madrid.head())

   OBJECTID  OBJECTID_1 IDESTACION  FECHAACTUAL  MODO  CODIGOESTACION  \
0       8.0     14051.0      5_142   20170530.0   5.0           142.0
1      14.0     12671.0        5_2   20170530.0   5.0             2.0
2      16.0      9856.0        5_3   20170530.0   5.0             3.0
3       NaN         NaN        NaN          NaN   NaN             NaN
4       NaN         NaN        NaN          NaN   NaN             NaN

                       stop_name             OBSERVACIONES SITUACION  \
0                  AEROPUERTO T4                       NaN         I
1              ALCALÁ DE HENARES  Con Calle de Valdetorres         S
2  ALCALÁ DE HENARES UNIVERSIDAD              Pl Sector 20         S
3           ALVAREZ DE VILLAAMIL                       NaN       NaN
4           ALVAREZ DE VILLAAMIL                       NaN       NaN

   CODIGOCTMESTACIONREDMETRO  ...  stop_code                       stop_desc  \
0                      142.0  ...        NaN                             NaN
1                        2.0  ...        NaN                             NaN
2                        3.0  ...        NaN                             NaN
3                        NaN  ...        5.0  Calle del Príncipe Carlos 13 B
4                        NaN  ...        5.0  Calle del Príncipe Carlos 13 B

   stop_lat  stop_lon zone_id            stop_url  location_type  \
0       NaN       NaN     NaN                 NaN            NaN
1       NaN       NaN     NaN                 NaN            NaN
2       NaN       NaN     NaN                 NaN            NaN
3  40.48905  -3.65136       A  http://www.crtm.es            0.0
4  40.48905  -3.65136       A  http://www.crtm.es            1.0

   parent_station  stop_timezone wheelchair_boarding
0             NaN            NaN                 NaN
1             NaN            NaN                 NaN
2             NaN            NaN                 NaN
3             NaN  Europe/Madrid                 2.0
4             NaN  Europe/Madrid                 2.0

[5 rows x 64 columns]

In [14]:
print(df_transporte_madrid.count())

OBJECTID               180
OBJECTID_1             180
IDESTACION             180
FECHAACTUAL            180
MODO                   180
                      ...
stop_url                96
location_type           96
parent_station          26
stop_timezone           70
wheelchair_boarding     96
Length: 64, dtype: int64

In [15]:
# Lista de columnas a eliminar
columns_to_delete = ['stop_code', 'stop_timezone', 'parent_station', 'wheelchair_boarding', 
                       'location_type', 'OBJECTID', 'OBJECTID_1', 'FECHAACTUAL', 'CODIGOCTMESTACIONREDMETRO']

# Eliminar las columnas del DataFrame
df_transporte_madrid1 = df_transporte_madrid.drop(columns=columns_to_delete)

# Verificar el DataFrame resultante
print(df_transporte_madrid1.head())

  IDESTACION  MODO  CODIGOESTACION                      stop_name  \
0      5_142   5.0           142.0                  AEROPUERTO T4
1        5_2   5.0             2.0              ALCALÁ DE HENARES
2        5_3   5.0             3.0  ALCALÁ DE HENARES UNIVERSIDAD
3        NaN   NaN             NaN           ALVAREZ DE VILLAAMIL
4        NaN   NaN             NaN           ALVAREZ DE VILLAAMIL

              OBSERVACIONES SITUACION  CODIGOEMPRESA  DENOMINACIONABREVIADA  \
0                       NaN         I        98305.0                    NaN
1  Con Calle de Valdetorres         S        70103.0                    NaN
2              Pl Sector 20         S        70107.0                    NaN
3                       NaN       NaN            NaN                    NaN
4                       NaN       NaN            NaN                    NaN

   MODOINTERCAMBIADOR  CODIGOINTERCAMBIADOR  ... SITUACIONCALLE  \
0                90.0                  33.0  ...            NaN
1                93.0                 125.0  ...            NaN
2                93.0                 126.0  ...            NaN
3                 NaN                   NaN  ...            NaN
4                 NaN                   NaN  ...            NaN

   DENOMINACION_SAE  INTERURBANOS_CODIGOEMT_CRTM  \
0               NaN                          NaN
1               NaN                          NaN
2               NaN                          NaN
3               NaN                          NaN
4               NaN                          NaN

   INTERURBANOS_CODIGOEMT_EMPRESA   stop_id                       stop_desc  \
0                             NaN       NaN                             NaN
1                             NaN       NaN                             NaN
2                             NaN       NaN                             NaN
3                             NaN  par_10_5  Calle del Príncipe Carlos 13 B
4                             NaN  est_10_5  Calle del Príncipe Carlos 13 B

   stop_lat stop_lon zone_id            stop_url
0       NaN      NaN     NaN                 NaN
1       NaN      NaN     NaN                 NaN
2       NaN      NaN     NaN                 NaN
3  40.48905 -3.65136       A  http://www.crtm.es
4  40.48905 -3.65136       A  http://www.crtm.es

[5 rows x 55 columns]

In [16]:
# Lista de columnas adicionales a eliminar
columns_to_delete1 = ['DENOMINACIONABREVIADA', 'MODO', 'CODIGOINTERCAMBIADOR', 
                                   'MODOINTERCAMBIADOR', 'SITUACIONCALLE', 'DENOMINACION_SAE', 
                                   'INTERURBANOS_CODIGOEMT_EMPRESA', 'TIPO', 'GRADOACCESIBILIDAD', 'INTERURBANOS_CODIGOEMT_CRTM','CODIGOENTIDAD', 'CODIGOMUNICIPIO',
                                     'CODIGONUCLEO', 'FECHAFIN', 'CODIGOEMPRESA', 'FECHAINICIO', 'FECHAALTA', 'ACONDICIONAMIENTOVIAJEROS','PARTICULA', 'HOJA25000',
                                    'ACONDICIONAMIENTOVEHICULOS', 'TIPONUMERO', 'CODIGOVIA', 'CODIGOPROVINCIA', 'CALIFICADORPORTAL', 'CARRETERA', 'NUMEROPORTAL', 
                                    'SECCIONCENSAL', 'BARRIO', 'TESELA', 'SECTORURBANO', 'SECTOR', 'CORREDOR', 'CORONA123', 'ZONATRANSPORTE', 'ENCUESTADOMICILIARIA',
                                     'ENCUESTAAFOROS' , 'X', 'Y', 'CODIGOESTACION', 'TIPOVIA', 'NOMBREVIA']

# Eliminar las columnas adicionales del DataFrame
df_transporte_madrid2 = df_transporte_madrid1.drop(columns=columns_to_delete1)

# Verificar el DataFrame resultante
print(df_transporte_madrid2.head())

  IDESTACION                      stop_name             OBSERVACIONES  \
0      5_142                  AEROPUERTO T4                       NaN
1        5_2              ALCALÁ DE HENARES  Con Calle de Valdetorres
2        5_3  ALCALÁ DE HENARES UNIVERSIDAD              Pl Sector 20
3        NaN           ALVAREZ DE VILLAAMIL                       NaN
4        NaN           ALVAREZ DE VILLAAMIL                       NaN

  SITUACION  CODIGOPOSTAL  DISTRITO CORONATARIFARIA   stop_id  \
0         I       28042.0      21.0               A       NaN
1         S       28807.0       7.0              B3       NaN
2         S       28805.0       6.0              B3       NaN
3       NaN           NaN       NaN             NaN  par_10_5
4       NaN           NaN       NaN             NaN  est_10_5

                        stop_desc  stop_lat  stop_lon zone_id  \
0                             NaN       NaN       NaN     NaN
1                             NaN       NaN       NaN     NaN
2                             NaN       NaN       NaN     NaN
3  Calle del Príncipe Carlos 13 B  40.48905  -3.65136       A
4  Calle del Príncipe Carlos 13 B  40.48905  -3.65136       A

             stop_url
0                 NaN
1                 NaN
2                 NaN
3  http://www.crtm.es
4  http://www.crtm.es

In [17]:
pd.set_option('display.max_columns', None)

In [18]:
print(df_transporte_madrid2.head())

  IDESTACION                      stop_name             OBSERVACIONES  \
0      5_142                  AEROPUERTO T4                       NaN
1        5_2              ALCALÁ DE HENARES  Con Calle de Valdetorres
2        5_3  ALCALÁ DE HENARES UNIVERSIDAD              Pl Sector 20
3        NaN           ALVAREZ DE VILLAAMIL                       NaN
4        NaN           ALVAREZ DE VILLAAMIL                       NaN

  SITUACION  CODIGOPOSTAL  DISTRITO CORONATARIFARIA   stop_id  \
0         I       28042.0      21.0               A       NaN
1         S       28807.0       7.0              B3       NaN
2         S       28805.0       6.0              B3       NaN
3       NaN           NaN       NaN             NaN  par_10_5
4       NaN           NaN       NaN             NaN  est_10_5

                        stop_desc  stop_lat  stop_lon zone_id  \
0                             NaN       NaN       NaN     NaN
1                             NaN       NaN       NaN     NaN
2                             NaN       NaN       NaN     NaN
3  Calle del Príncipe Carlos 13 B  40.48905  -3.65136       A
4  Calle del Príncipe Carlos 13 B  40.48905  -3.65136       A

             stop_url
0                 NaN
1                 NaN
2                 NaN
3  http://www.crtm.es
4  http://www.crtm.es

In [19]:
df_transporte_madrid2['zone_id_completo'] = df_transporte_madrid2['zone_id'].combine_first(df_transporte_madrid2['CORONATARIFARIA'])

# Verificar el resultado
print(df_transporte_madrid2[['zone_id', 'CORONATARIFARIA', 'zone_id_completo']].head())

  zone_id CORONATARIFARIA zone_id_completo
0     NaN               A                A
1     NaN              B3               B3
2     NaN              B3               B3
3       A             NaN                A
4       A             NaN                A

In [20]:
# Eliminar las columnas originales si ya no son necesarias
df_transporte_madrid2 = df_transporte_madrid2.drop(columns=['zone_id', 'CORONATARIFARIA'])

# Renombrar la nueva columna a 'zone_id' si es necesario
df_transporte_madrid2.rename(columns={'zone_id_completo': 'zone_id'}, inplace=True)

# Verificar el DataFrame resultante
print(df_transporte_madrid2.head())

  IDESTACION                      stop_name             OBSERVACIONES  \
0      5_142                  AEROPUERTO T4                       NaN
1        5_2              ALCALÁ DE HENARES  Con Calle de Valdetorres
2        5_3  ALCALÁ DE HENARES UNIVERSIDAD              Pl Sector 20
3        NaN           ALVAREZ DE VILLAAMIL                       NaN
4        NaN           ALVAREZ DE VILLAAMIL                       NaN

  SITUACION  CODIGOPOSTAL  DISTRITO   stop_id                       stop_desc  \
0         I       28042.0      21.0       NaN                             NaN
1         S       28807.0       7.0       NaN                             NaN
2         S       28805.0       6.0       NaN                             NaN
3       NaN           NaN       NaN  par_10_5  Calle del Príncipe Carlos 13 B
4       NaN           NaN       NaN  est_10_5  Calle del Príncipe Carlos 13 B

   stop_lat  stop_lon            stop_url zone_id
0       NaN       NaN                 NaN       A
1       NaN       NaN                 NaN      B3
2       NaN       NaN                 NaN      B3
3  40.48905  -3.65136  http://www.crtm.es       A
4  40.48905  -3.65136  http://www.crtm.es       A

In [21]:
# Crear una nueva columna 'stop_id_completo' que combine 'stop_id' y 'IDESTACION'
df_transporte_madrid2['stop_id_completo'] = df_transporte_madrid2['stop_id'].combine_first(df_transporte_madrid2['IDESTACION'])

# Eliminar las columnas originales si ya no son necesarias
df_transporte_madrid2 = df_transporte_madrid2.drop(columns=['stop_id', 'IDESTACION'])

# Renombrar la nueva columna a 'stop_id'
df_transporte_madrid2.rename(columns={'stop_id_completo': 'stop_id'}, inplace=True)

# Verificar el DataFrame resultante
print(df_transporte_madrid2.head())

                       stop_name             OBSERVACIONES SITUACION  \
0                  AEROPUERTO T4                       NaN         I
1              ALCALÁ DE HENARES  Con Calle de Valdetorres         S
2  ALCALÁ DE HENARES UNIVERSIDAD              Pl Sector 20         S
3           ALVAREZ DE VILLAAMIL                       NaN       NaN
4           ALVAREZ DE VILLAAMIL                       NaN       NaN

   CODIGOPOSTAL  DISTRITO                       stop_desc  stop_lat  stop_lon  \
0       28042.0      21.0                             NaN       NaN       NaN
1       28807.0       7.0                             NaN       NaN       NaN
2       28805.0       6.0                             NaN       NaN       NaN
3           NaN       NaN  Calle del Príncipe Carlos 13 B  40.48905  -3.65136
4           NaN       NaN  Calle del Príncipe Carlos 13 B  40.48905  -3.65136

             stop_url zone_id   stop_id
0                 NaN       A     5_142
1                 NaN      B3       5_2
2                 NaN      B3       5_3
3  http://www.crtm.es       A  par_10_5
4  http://www.crtm.es       A  est_10_5

In [22]:
# Crear una nueva columna 'street' que combine 'stop_desc' y 'OBSERVACIONES'
df_transporte_madrid2['street'] = df_transporte_madrid2['stop_desc'].combine_first(df_transporte_madrid2['OBSERVACIONES'])

# Eliminar las columnas originales si ya no son necesarias
df_transporte_madrid2 = df_transporte_madrid2.drop(columns=['stop_desc', 'OBSERVACIONES'])

# Verificar el DataFrame resultante
print(df_transporte_madrid2.head())

                       stop_name SITUACION  CODIGOPOSTAL  DISTRITO  stop_lat  \
0                  AEROPUERTO T4         I       28042.0      21.0       NaN
1              ALCALÁ DE HENARES         S       28807.0       7.0       NaN
2  ALCALÁ DE HENARES UNIVERSIDAD         S       28805.0       6.0       NaN
3           ALVAREZ DE VILLAAMIL       NaN           NaN       NaN  40.48905
4           ALVAREZ DE VILLAAMIL       NaN           NaN       NaN  40.48905

   stop_lon            stop_url zone_id   stop_id  \
0       NaN                 NaN       A     5_142
1       NaN                 NaN      B3       5_2
2       NaN                 NaN      B3       5_3
3  -3.65136  http://www.crtm.es       A  par_10_5
4  -3.65136  http://www.crtm.es       A  est_10_5

                           street
0                             NaN
1        Con Calle de Valdetorres
2                    Pl Sector 20
3  Calle del Príncipe Carlos 13 B
4  Calle del Príncipe Carlos 13 B

In [24]:
# Reordenar las columnas para que 'stop_id' sea la segunda columna
columnas = list(df_transporte_madrid2.columns)
columnas.insert(0, columnas.pop(columnas.index('stop_id')))
df_transporte_madrid2 = df_transporte_madrid2[columnas]

# Verificar el DataFrame resultante
print(df_transporte_madrid2.head())

    stop_id                      stop_name SITUACION  CODIGOPOSTAL  DISTRITO  \
0     5_142                  AEROPUERTO T4         I       28042.0      21.0
1       5_2              ALCALÁ DE HENARES         S       28807.0       7.0
2       5_3  ALCALÁ DE HENARES UNIVERSIDAD         S       28805.0       6.0
3  par_10_5           ALVAREZ DE VILLAAMIL       NaN           NaN       NaN
4  est_10_5           ALVAREZ DE VILLAAMIL       NaN           NaN       NaN

   stop_lat  stop_lon            stop_url zone_id  \
0       NaN       NaN                 NaN       A
1       NaN       NaN                 NaN      B3
2       NaN       NaN                 NaN      B3
3  40.48905  -3.65136  http://www.crtm.es       A
4  40.48905  -3.65136  http://www.crtm.es       A

                           street
0                             NaN
1        Con Calle de Valdetorres
2                    Pl Sector 20
3  Calle del Príncipe Carlos 13 B
4  Calle del Príncipe Carlos 13 B

In [25]:
df_transporte_madrid.to_csv('C:/Users/Lenovo/Documents/Master BD/TFM/Paradas metro - rente MADRID/dataset_transporte_Madrid.csv', index=False)